name: Extension Zipper
on:
  release:
    types: [created]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create Zip File
        run: zip -r Chzzk_Chatfilter.zip . -x "*.git*" "*.github*" ".DS_Store" "README.md"
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: Chzzk_Chatfilter.zip
